@import url('https://fonts.googleapis.com/css2?family=Newsreader:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap');

body {
    font-family: 'Newsreader', serif;
    max-width: 360px;
    margin: auto;
    border: 2px solid #008CBA;
}

#home {
    margin: 5px 0 10px 0;
    padding: 5px 5px 10px 5px;
    border-bottom: 2px solid #008CBA;
    font-size: 20px;
    font-weight: 600;
}

#home a {
    display: inline-block;
    text-decoration: none;
    color: blue;
}

#home a:visited {
    color: blue;
}

#home .prev-story {
    width: 110px;
    text-align: left;
}

#home .next-story {
    width: 95px;
    text-align: right;
}

#home .toc {
    text-transform: uppercase;
    width: 115px;
    padding-left: 10px;
}

#the-control,
#the-text,
#home {
    text-align: center;
}

#the-options {
    font-size: 20px;
    font-weight: 500;
}

.the-option {
    padding: 7px 10px;
}

.the-option [type=range] {
    width: 100px;
}

.play,
.pause {
    border: none;
    color: white;
    padding: 10px 0;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: large;
    width: 74px;
    font-weight: 700;
    margin: 10px 2px;
    cursor: pointer;
}

.move {
    border: 2px solid #008CBA;
    color: black;
    padding: 10px 0;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: large;
    width: 74px;
    font-weight: 700;
    margin: 10px 2px;
    cursor: pointer;
    background-color: white;
}

.play {
    background-color: #4CAF50;
}

.pause {
    background-color: #f44336;
}

.play.disabled,
.pause.disabled,
.back.disabled,
.next.disabled {
    color: black;
    background-color: #e7e7e7;
    cursor: auto;
    border: none;
}

label {
    display: inline-block;
    width: 128px;
}

#the-text {
    border-bottom: 2px solid #008CBA;
    border-top: 2px solid #008CBA;
    padding: 10px 0;
    color: green;
    margin: 10px auto;
    font-weight: 600;
}

#the-page-number {
    margin: 10px auto;
    text-align: center;
}
